.donation-section {
           display: none; /* Hide sections by default */
}
   
#donationHistory {
    max-height: 200px; /* Adjust height as needed */
    overflow-y: auto;  /* Enable vertical scrolling */
	overflow-x: auto;
    border: 1px solid #ddd; /* Optional: Add border for better visuals */
    padding: 10px;     /* Optional: Add padding for aesthetics */
    background-color: #f8f9fa; /* Optional: Light background for better readability */
}