<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Update Volunteer</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/css/admin.css}">
	</head>
	
	<body>
		<div th:insert="~{fragments/header}"></div>
		<div class="container form-container">
			<div class="row">
			    <form th:action="@{/admin-volunteer}">
					<button class="btn btn-light" type="submit">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" transform="translate(0, -1)">
						  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
						</svg>
						Back
					</button>
			    </form>	
			</div>
			<div class="row">
				<h2>Update Volunteer</h2>
				<h4>User Details</h4>
				<div class="card-body">
					<div class="form-group">
					    <label for="title">Title</label>
						<select id="title" class="form-select" name="title"  disabled>
						    <option value="" disabled selected>Select a Title</option>
						    <option value="Mr" th:selected="${title == 'Mr'}">Mr</option>
						    <option value="Ms" th:selected="${title == 'Ms'}">Ms</option>
						    <option value="Mrs" th:selected="${title == 'Mrs'}">Mrs</option>
						    <option value="Dr" th:selected="${title == 'Dr'}">Dr</option>
						    <option value="Prof." th:selected="${title == 'Prof'}">Prof</option>
						</select>
					</div>

					<div class="form-group">
						<label>First Name</label>
				                <input type="text" class="form-control" id="firstName" name="firstName" th:value="${volunteer.user.firstName}" disabled />
					</div>
				
					<div class="form-group">
						<label>Last Name</label>
						<input type="text" class="form-control" id="lastName" name="lastName" th:value="${volunteer.user.lastName}" disabled/>
					</div>
					
					<div class="form-group">
						<label>Email</label>
						<input type="email" class="form-control" id="email" name="email" th:value="${volunteer.user.email}" aria-describedby="emailHelp" disabled>
					</div>
					
					<div class="form-group">
						<label>Phone</label>
						<input type="tel" class="form-control" 
			               id="phone" 
						   name="phone"
			               pattern="[0-9]+"
			               th:value="${volunteer.user.phone}"
			               aria-describedby="telHelp" disabled>
					</div>

					<div class="form-group">
						<label for="country">Country</label>
						<select id="country" class="form-select" name="country" th:field="*{user.country}" disabled>
						    <option value="" disabled selected>-- Select --</option>
						    <option value="Malaysia" th:selected="${country == 'Malaysia'}">Malaysia</option>
						    <option value="Indonesia" th:selected="${country == 'Indonesia'}">Indonesia</option>
						    <option value="Singapore" th:selected="${country == 'Singapore'}">Singapore</option>
						</select>
					</div>

					<div class="form-group">
						<label>City</label>
						 <input type="text" class="form-control" id="city" name ="city" th:value="${volunteer.user.city}" disabled>
					</div>

					<div class="form-group">
						<label>Building</label>
						<input type="text" class="form-control" id="building" name="building" th:value="${volunteer.user.building}" disabled>
					</div>

					<div class="form-group">
						<label>Street</label>
						<input type="text" class="form-control" id="street" name="street" th:value="${volunteer.user.street}" disabled>
					</div>

					<div class="form-group">
						<label>Postal</label>
						<input type="text" class="form-control" id="postal" name="postal" th:value="${volunteer.user.postal}" disabled>
					</div>

					<hr/>
					
					<form th:action="@{/admin-volunteer/{id} (id=${volunteer.id})}" th:object="${volunteer}" method="POST">
						<h4>Project Details</h4>
						<div class="form-froup">
							<label>Project</label>
							<select id="placeSelector" class="form-select" name="placeId" th:field="*{place.id}" required>
							    <option value="" disabled selected th:if="*{place.id} == null">-- Select a Place --</option>
							    <option th:value="1" th:text="'	Flood Cleanup - Pahang'"></option>
							    <option th:value="2" th:text="'Relief Distribution - Kelantan'"></option>
							    <option th:value="3" th:text="'Emergency Shelter Support - Selangor'"></option>
							    <option th:value="4" th:text="'Medical Aid Assistance - Perak'"></option>
							    <option th:value="5" th:text="'Evacuation Assistance - Negeri Sembilan'"></option>
							    <option th:value="6" th:text="'Post-Flood Rehabilitation - Melaka'"></option>
							</select>

						</div>
						
						<hr/>

						<div class="form-group">
							<h4>Volunteer Details</h4>
						    <label for="type" class="form-label">State:</label>
							<select class="form-select" name="state" id="state" th:field="*{state}" required>
							    <option disabled value="" th:if="*{state} == null">Choose State</option>
							    <option value="Sabah">Sabah</option>
							    <option value="Johor">Johor</option>
							    <option value="Pahang">Pahang</option>
							    <option value="Perak">Perak</option>
							    <option value="Penang">Penang</option>
							    <option value="Negeri_Sembilan">Negeri Sembilan</option>
							    <option value="Terengganu">Terengganu</option>
							    <option value="Kelantan">Kelantan</option>
							    <option value="Selangor">Selangor</option>
							    <option value="Kedah">Kedah</option>
							    <option value="Sarawak">Sarawak</option>
							    <option value="Perlis">Perlis</option>
							    <option value="Malacca">Malacca</option>
							</select>
						</div>
						
						<div class="form-group">
						    <label>Help us with:</label>
						    <div class="form-check">
						        <input 
						            class="form-check-input" 
						            type="radio" 
						            name="skills" 
						            value="Leadership" 
						            id="skillLeadership" 
						            th:checked="${volunteer.skills == 'Leadership'}">
						        <label class="form-check-label" for="skillLeadership">Leadership</label>
						    </div>
						    <div class="form-check">
						        <input 
						            class="form-check-input" 
						            type="radio" 
						            name="skills" 
						            value="First Aid" 
						            id="skillFirstAid" 
						            th:checked="${volunteer.skills == 'First Aid'}">
						        <label class="form-check-label" for="skillFirstAid">First Aid</label>
						    </div>
						    <div class="form-check">
						        <input 
						            class="form-check-input" 
						            type="radio" 
						            name="skills" 
						            value="Cooking" 
						            id="skillCooking" 
						            th:checked="${volunteer.skills == 'Cooking'}">
						        <label class="form-check-label" for="skillCooking">Cooking</label>
						    </div>
						    <div class="form-check">
						        <input 
						            class="form-check-input" 
						            type="radio" 
						            name="skills" 
						            value="Driving" 
						            id="skillDriving" 
						            th:checked="${volunteer.skills == 'Driving'}">
						        <label class="form-check-label" for="skillDriving">Driving</label>
						    </div>
						    <div class="form-check">
						        <input 
						            class="form-check-input" 
						            type="radio" 
						            name="skills" 
						            value="Cleaning" 
						            id="skillCleaning" 
						            th:checked="${volunteer.skills == 'Cleaning'}">
						        <label class="form-check-label" for="skillCleaning">Cleaning</label>
						    </div>
						</div>

						
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
		<div th:insert="~{fragments/footer}"></div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
		    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
		    crossorigin="anonymous"></script>
			<script th:src="@{/js/admin.js}" defer></script>
	</body>
</html>